# Dependencies
node_modules

# Built files
dist

# Environment Variables
.env

# Logs
logs

# VSCode Settings
.vscode

# Python Cache
__pycache__

# Temporary Output files
outputs/

# Temporary Upload files
uploads/