NODE_ENV="development OR production"
DATABASE_HOST="DATABASE HOST GOES HERE"
DATABASE_USER="DATABASE USER GOES HERE"
DATABASE_PASSWORD="DATABASE PASSWORD GOES HERE"
DATABASE_NAME="DATABASE NAME GOES HERE"
JWT_ACCESS_TOKEN_SECRET="JWT SECRET FOR GENERATING ACCESS TOKENS GOES HERE"
JWT_REFRESH_TOKEN_SECRET="JWT SECRET FOR GENERATING REFRESH TOKENS GOES HERE"
GATEWAY_URL=""